{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-secondary">Detalle de la tarea</h1>
            {{error}}
            <form method="post" class="py-2">
                {% csrf_token %}
                {{form}}
                <button class="btn btn-primary">
                    Modificar Tarea
                </button>
            </form>
            <div class="d-flex justify-content-between py-2">
                <form action="{% url 'complete_task' task.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary">
                        Tarea Completada
                    </button>
                </form>
                <form action="{% url 'delete_task' task.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        Eliminar Tarea
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}